<legend>Your Feeds</legend>

<%= link_to "Subscribe", new_feed_path, :class => "btn btn-primary" %>

<ul>
  <% @feeds.each do |feed| %>
    <li><%= link_to feed.name, feed_path(feed) %></li>
  <% end %>
</ul>

