<legend><%= @title %></legend>

<div class="accordion" id="accordion1">
  <% @articles.each do |article| %>
    <%= render :partial => 'articles/item', :locals => {:article => article} %>
  <% end %>
</div>
